<?xml version="1.0"?>
<model>
  <name>teTra_mk-7_EM2</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>teTra aviation</name>
  </author>

  <description>
    Gazebo model for the teTra MK-7 EM2 VTOL with 12 lift rotors, one cruise propeller, and five control surfaces.
  </description>
</model>
